*.png
*.pth
*.pdf
*.pkl
*.out
*.txt
*.npy
*.cache
*.safetensors
cache/
log/
*.bin
*.wandb
images
data
dataset/
savedir
tensorboard
checkpoints
logs
*.pt
*.pth
*.ckpt
*.log
*.json
*.yaml
*.ipynb
*.pyc
__pycache__
.tar
*.zst
experiments/
wandb/